{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Free Shelf<title>
		<meta charset=“utf-8”>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<link rel=“stylesheet” href=“(% static 'style.css' %}”>
  	</head>  
	<body>
		<header>
       		<h2>Free Shelf</h2>
        	<h4>Your online resource for all things Coding</h4>
		</header>
			<div class="wrapper">
				{% block content %}
				{% endblock %}
			</div>
		<footer>
			<nav>
            	<p>
                	<a href="index.html">Home</a>
                	<a href="categories.html">Books by Category</a>
					<a href="favorites.html">My Favorites</a>
                	<a href="login.html">Login</a>
				</p>
        	</nav>
		</footer>
	</body>
</html>
